[Desktop Entry]
Name=VSCode
Comment=VSCode Editor
Path=/home/dsyer/
Exec=/home/dsyer/.nix-profile/bin/code
Icon=code
Terminal=0
Type=Application
Encoding=UTF-8
Categories=Application;Development;
