#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Terminator
Exec=/home/dsyer/.nix-profile/bin/terminator
Icon=terminator
Type=Application
Categories=Qt;System;TerminalEmulator;



