[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dsyer/Desktop/network.desktop]
row=0
col=1

[/home/dsyer/Desktop/user-home.desktop]
row=4
col=0

[/home/dsyer/Desktop/computer.desktop]
row=1
col=1

[/home/dsyer/Desktop/config]
row=5
col=0

[/home/dsyer/Desktop/trash-can.desktop]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/dsyer]
row=3
col=0

